<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
</head>

<body>
    <h1>Sala de Mensajes</h1>
    <div id="app">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="container-chat">
                        <ul id="chat">
                            <!--Recorremos el array de mensajes y mostramos uno por uno en la lista-->
                            <li v-for="m in messages">
                                {{m}}
                            </li>
                        </ul>
                        <!-- con el atributo submit, le indicamos que al usar el input submit llamaremos a la funcíon sendMessage-->
                        <form @submit.prevent="sendMessage">
                            <input type="text" placeHolder="Mensaje..." v-model="message" class="form-control">
                            <input type="submit" value="Enviar" class="btn btn-chat">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <!--
    <script src="./js/socket-chat.js"></script>
    -->
    <script>
        //inicializamos la variable socket que utilizaremos en created
        var params = new URLSearchParams(window.location.search);
        //redirigir en caso de que no exista algun nombre
        if(!params.has("nombre") || params.get('nombre') == ''){
            window.location.href = "/";
            throw new Error("El nombre es necesario");
        } else {
            //obetener el nombre del usuario
            var usuario = params.get("nombre");
            var socket = io();
            var app = new Vue({
                el:'#app',
                data:{
                    //Inicializamos las variables
                    message:'',
                    messages: []
                },
                methods:{
                    /*Creamos la funcion sendMessage, que será la que envíe mediante socket 
                    el mensaje y lo recibiran todos los usuarios en su navegador, 
                    añadiendose éste al  array messages de cada usuario*/ 
                    sendMessage:function(){
                        let message = `${usuario}: ${this.message}`;
                        app.messages.push(message);
                        socket.emit('message', message);
                        this.message = '';
                    }
                },
                //Inicialización de la variable socket
                created(){
                    socket.on("connect", function(){
                        socket.emit('welcome', `Usuario ${usuario} se acaba de conectar.`);
                    });
                    socket.on('message', function(message){
                        app.messages.push(message);
                    });
                    window.onbeforeunload = () => {
                        socket.emit('leave', `Usuario ${usuario} dejó el chat.`);
                    }
                },
            });
        }
    </script>
</body>

</html>